{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Your Website{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'news/style.css' %}">
</head>
<body>
    <header>
        <h1><a href="{% url 'user_stories' %}" class="logo">Contify - News Monitoring System</a></h1>
        <nav>
            <ul>
                <li><a href="{% url 'user_sources' %}" class="nav-btn">Your Sources</a></li>
                <li><a href="{% url 'user_stories' %}" class="nav-btn">Your Stories</a></li>
                <li><a href="{% url 'logout' %}" class="nav-btn">Logout</a></li>
            </ul>
        </nav>
    </header>
    <main>
        {% block content %}
        {% endblock %}
    </main>
</body>
</html>
